@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br></br>
<br></br>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Kategori_1", "Index", "Kategori_1")</li>
        <li>@Html.ActionLink("Kategori_2", "Index", "Kategori_2")</li>
        <li>@Html.ActionLink("Kampanya", "Index", "Kampanya")</li>
        <li>@Html.ActionLink("Firma", "Index", "Firma")</li>

    </ul>
</div>

<br></br>
<br></br>


